<section id="endow" class="endow pd-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="section-title text-center mb-5">
          <h2 class="text_P text-main ut_bold wow fadeInDown" data-wow-delay="0.4" data-wow-duration="1"> XE ĐẠP PHƯƠNG ĐÔNG </h2>
          <p class="text-xs text-grey"> Nhận ngay ưu đãi lớn khi mua xe đạp tại Phương Đông </p>
        </div>
      </div>
      <% if(endows){ %>
        <% endows.forEach(function(endow){ %>
        <div class="col-sm-12 col-md-3">
          <div class="endow__box text-center">
            <div class="image">
              <img src="/public/uploads/endows/<%= endow.image %>" alt="">
            </div>
            <div class="content">
              <h3 class="text-sm ut_bold"><%= endow.title  %></h3>
              <p class="text-xs text-grey"><%= endow.description %></p>
            </div>
          </div>
        </div>
        <% }); %>
      <% }else{ %>
      <%}%>
    </div>
  </div>
</section>