
<% extend("../../xedapphanthiet") %>
<!-- slider start -->
<%- include('./slider', {slides: slides})%>
<!-- slider end -->
  <!-- endow / start -->
  <%- include('./endow')%>
  <!-- endow / end -->
  <!-- brand start -->
  <%- include('./brand', {brands: brands})%>
  <!-- brand end -->

  <!-- shopping start -->
  <%- include('./bike', {streets: streets, races : races, childs : childs})%>  <!-- shopping end -->
  <!-- news start -->
  <section id="news" class="news pd-section pd-lg-section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
            <div class="section-title text-left mb-5">
              <h2 class="news__tt text-sm text-main ut_bold"> KIẾN THỨC - KINH NGHIỆM</h2>
            </div>
        </div>
        <div class="col-sm-12 col-md-3">
        </div>
        <div class="col-sm-12 col-md-9">
          <div class="news__owl owl-carousel owl-theme">
            <div class="news_item">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <h3 class="ut_bold"> Kiến thức - Kinh Nghiệm </h3>
                  <p class="news__typho">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugit
                    tenetur quibusdam
                    recusandae quidem facilis eligendi deleniti
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugit tenetur quibusdam
                    recusandae quidem facilis eligendi deleniti</p>
                  <a type="button" class="btn btn-primary Utbtn_main bg-main" href="news-detail.html"> Chi tiết <i
                      class="icofont-long-arrow-right"></i></a>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="news__img">
                    <img src="images/news/genius_gallery_6.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="news_item">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <h3 class="ut_bold"> Kiến thức - Kinh Nghiệm </h3>
                  <p class="news__typho">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugit
                    tenetur quibusdam
                    recusandae quidem facilis eligendi deleniti
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugit tenetur quibusdam
                    recusandae quidem facilis eligendi deleniti</p>
                  <a type="button" class="btn btn-primary Utbtn_main bg-main" href="news-detail.html"> Chi tiết <i
                      class="icofont-long-arrow-right"></i></a>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="news__img">
                    <img src="images/news/passo-valparola-dolomites-bike-day.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="news_item">
              <div class="row">
                <div class="col-sm-12 col-md-5">
                  <h3 class="ut_bold"> Kiến thức - Kinh Nghiệm </h3>
                  <p class="news__typho">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugit
                    tenetur quibusdam
                    recusandae quidem facilis eligendi deleniti
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente fugit tenetur quibusdam
                    recusandae quidem facilis eligendi deleniti</p>
                  <a type="button" class="btn btn-primary Utbtn_main bg-main" href="news-detail.html"> Chi tiết <i
                      class="icofont-long-arrow-right"></i></a>
                </div>
                <div class="col-sm-12 col-md-7">
                  <div class="news__img">
                    <img src="images/news/genius_gallery_6.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- news end -->
