<!-- footer / start -->
<footer id="footer" class="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="logo-widget">
            <a href="/">
              <img src="/xedapphanthiet/images/logo.png" alt="">
            </a>
            <ul class="social-widget">
              <li><a href="<%= userInfo.facebook %>" title="facebook" target="_blank"> <i class="icofont-facebook"></i>
                </a> </li>
              <li><a href="#" title="instagram" target="_blank"> <i class="icofont-instagram"></i> </a> </li>
              <li><a href="#" title="twitter" target="_blank"> <i class="icofont-twitter"></i> </a> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-4">
          <h5>XE ĐẠP PHƯƠNG ĐÔNG</h5>
          <div class="link-list">
            <li><strong> Địa chỉ : </strong><%= userInfo.address  %></li>
            <li><strong>Điện thoại:</strong> <%= userInfo.phone  %></li>
            <li><strong>email : </strong> <%= userInfo.email  %></li>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5>THÔNG TIN</h5>
          <div class="link-list">
            <li><a href="/">Trang chủ</a></li>
            <li><a href="/gioi-thieu">Giới thiệu</a></li>
            <li><a href="/xe-dap">Xe đạp</a></li>
            <li><a href="/lien-he">Liên hệ</a></li>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="copyright clearfix">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <span>© Bản quyền thuộc về <b>Xe Đạp Phương Đông</b> <span class="s480-f">|</span> Cung cấp bởi <a href="/"
                title="utdesign" target="_blank" rel="nofollow">UT DESIGN</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</footer>
<!-- footer / end -->