<header class="header">
    <div class="header__top bg-main">
      <div class="container">
        <div class="row header__contc">
          <div class="col-6">
            <div class="header__ad">
              <ul>
                <li><a href="tel:0898992702" title="Gọi ngay"><i class="icofont-smart-phone"></i> &nbsp;+ 089 899 2704
                  </a> </li>
              </ul>
            </div>
          </div>  
          <div class="col-6">
            <ul class="social text-right">
              <li><a href="#" title="facebook"> <i class="icofont-facebook"></i> </a> </li>
              <li><a href="#" title="instagram"> <i class="icofont-instagram"></i> </a> </li>
              <li><a href="#" title="twitter"> <i class="icofont-twitter"></i> </a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <div class="logo">
            <img src="/public/xedapphanthiet/images/logo_top.png" alt="">
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/"> <span><i class="icofont-home"></i></span>TRANG CHỦ <span
                  class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gioi-thieu" title="giới thiệu"> <span><i class="icofont-info-square"></i></span>GIỚI THIỆU</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/xe-dap" title="xe đạp"><span><i class="icofont-bicycle-alt-1"></i></span>XE ĐẠP</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog" title="Thông tin"> <span><i class="icofont-info-circle"></i></span>THÔNG TIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/lien-he" title="Liên hệ"><span><i class="icofont-contacts"></i></span>LIÊN HỆ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="menu-mobie">
      <ul>
        <li> <a href="/"><i class="icofont-home"></i> <span>Trang chủ </span> </a></li>
        <li> <a href="/xe-dap"><i class="icofont-bicycle-alt-1"></i> <span>Xe đạp</span></a></li>
        <li> <a href="/blog"><i class="icofont-info-circle"></i> <span>Thông tin</span></a></li>
        <li> <a href="/lien-he"><i class="icofont-contacts"></i> <span>Liên hệ</span> </a></li>
      </ul>
    </div>
  </header>