<% extend("../../xedapphanthiet") %>
<section class="breacrumb_bg">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <span class=big-title> Giới thiệu </span>
          <nav class="breadcrumb">
            <a class="breadcrumb-item" href="/" title="Trang chủ">Trang chủ</a>
            <span class="breadcrumb-item active">Giới thiệu</span>
          </nav>
        </div>
      </div>
    </div>
  </section>

  <!-- news start -->
  <section id="intro" class="intro-details mt-4 page-relative">
    <div class="container">
      <div class="news-detail-box">
        <div class="row bg-white">
          <div class="col-sm-12 col-md-12">
            <h1 class="ut_bold mt-4 mb-4">XE ĐẠP PHƯƠNG ĐÔNG</h1>
            <div class="entry-content single-page">
              <h3>Giúp bạn sống lâu hơn</h3>
              <p>Theo nghiên cứu của đại học Glasgow Anh công bố trên tạp chí Y Khoa nước này năm 2017 cho thấy rằng
                những người sử dụng xe đạp hằng ngày có nguy cơ tử vong thấp hơn 41% so với người bình thường, nguy cơ
                phát triển ung thư thấp hơn 45% và các nguy cơ mắc bệnh về tim mạch thấp hơn 46%.</p>
              <h3>Tăng cường sức khoẻ não bộ</h3>
              <p>Đạp xe tác động trực tiếp đến hệ thần kinh trung ương. Trong suốt quá trình đạp xe, lượng oxy sẽ được
                lưu thông vào não, giúp phát triển các mao mạch thần kinh, tăng cường chất xám, thúc đẩy quá trình
                phục
                hồi tế bào não khi bị căng thẳng. </p>
              <p>Đi xe đạp giúp bạn đem lại những nụ cười rạng rỡ trên khuôn mặt của hầu hết mọi người và trên một mức
                độ vô hình nó cũng thúc đẩy bộ não của chúng ta . Tất cả những giờ bạn dành để quay bàn đạp không chỉ
                làm hết việc trên vùng cơ quan của bạn mà còn trên cả vùng chất xám của bạn . Khi các mạch máu trong
                não
                của bạn có thể nhận được những nguồn cấp dinh dưỡng và oxy được cải thiện , chúng dường như có thể
                hoạt
                động tốt hơn.</p>
              </p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <!-- news end -->