<footer id="footer">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="card fb-card">
                <div class="card-header">
                    <h5> <strong> THÔNG TIN HỖ TRỢ </strong></h5>
                   
                </div>
                <div class="card-block">
                    <ul>
                        <li><a class="mb-2 d-block" href="#" title="Điện thoại"><strong>Điện thoại : </strong>
                                0898.992.704 </a></li>
                        <li><a class="mb-2 d-block" href="#" title="Facebook"><strong>Facebook :
                                </strong>https://www.facebook.com/lionelthang.nguyen/</a></li>
                        <li><a class="mb-2 d-block" href="#" title="Email"><strong>Email :
                                </strong>utdesign2704@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>