<div class="modal fade" id="image-edit-modal" tabindex="-1" role="dialog" aria-labelledby="product-image-change"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body mt-4">
                <div class="product-image-preview text-md-center">
                    <div class="form-group text-center">
                        <div class="image-border">
                            <div class="old-image">
                                <img id="image-view" src="" alt="">
                            </div>
                            <button id="trigger_button" class="btn btn-out-dotted btn-grd-primary mt-4">Chọn
                                hình khác...</button>
                            <input type="file" id="product_image" name="product_image" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> <i
                        class="icofont icofont-ui-close"></i> </button>
                <a href="#" type="button" class="btn btn-primary" id="save-button-product-image-modal">
                    <i class="icofont icofont-save"></i>
                </a>
            </div>
        </div>
    </div>
</div>