<style>
    body {
      background-color: #00A651;
      color: #fff;
      font-size: 100%;
      font-family: "Roboto", sans-serif;
      text-align: center;
    }
  
    .button {
      font-weight: 300;
      color: #fff;
      font-size: 1.2em;
      text-decoration: none;
      border: 1px solid #efefef;
      padding: .5em;
      border-radius: 3px;
      margin: auto;
      position: relative;
      transition: all .3s linear;
    }
  
    .button:hover {
      background-color: #00A651;
      color: #fff;
    }
  
    p {
      font-size: 2em;
      text-align: center;
      font-weight: 100;
    }
  
    h1 {
      text-align: center;
      font-size: 15em;
      font-weight: 100;
    }
    @media (max-width:768px){
      *{}
      .notfound h1{
        font-size: 8em;
      } 
    }
  </style>
  <div class="notfound">
    <h1>404</h1>
    <p> <strong>Oop ! Không tìm thấy trang bạn cần tìm.  </strong> </p>
    <a class="button" href="/admin"> Quay lại trang chủ </a>
  </div>