<% extend("../../admin.ejs") %>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                <!-- Page-header start -->
                <div class="page-header card">
                    <div class="row align-items-end">
                        <div class="col-lg-8">
                            <div class="page-header-title">
                                <i class="icofont icofont-file-code bg-c-blue"></i>
                                <div class="d-inline">
                                    <h4> <%= title %> </h4>
                                    <span>Lorem ipsum dolor sit <code>amet</code>, consectetur adipisicing elit</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="page-header-breadcrumb">
                                <ul class="breadcrumb-title">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">
                                            <i class="icofont icofont-home"></i>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="/admin">Trang chủ</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="/admin/products">Danh sách sản phẩm</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page-header end -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-md-12 col-xl-8">
                            <div class="card">
                                <div class="card-header">
                                    <h3> <Strong> Thêm sản phẩm </Strong></h3>
                                    <span> Thêm thông tin cho sản phẩm </span>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left "></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block table-border-style mt-2">
                                    <div class="col-md-12 col-xl-12">
                                        <div class="update-avatar-form">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div id="actions" class="row mb-4">
                                                        <div class="col-lg-7">
                                                            <div class="control-button d-flex">
                                                                <!-- The fileinput-button span is used to style the file input field as button -->
                                                                <span
                                                                    class="btn mr-2 btn-success fileinput-button dz-clickable">
                                                                    <i class="glyphicon glyphicon-plus"></i>
                                                                    <span><i
                                                                            class="icofont icofont-plus-circle"></i>&nbsp;Thêm
                                                                        Ảnh...</span>
                                                                </span>
                                                                <button type="submit"
                                                                    class="btn btn-primary mr-2 start">
                                                                    <i class="glyphicon glyphicon-upload"></i>
                                                                    <span><i
                                                                            class="icofont icofont-upload"></i>&nbsp;Upload
                                                                        tất
                                                                        cả</span>
                                                                </button>
                                                                <button type="reset" class="btn btn-warning cancel"
                                                                    disabled>
                                                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                                                    <span><i
                                                                            class="icofont icofont-ui-remove">&nbsp;</i>Hủy
                                                                        tất
                                                                        cả</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-5">
                                                            <!-- The global file processing state -->
                                                            <span class="fileupload-process">
                                                                <div id="total-progress"
                                                                    class="progress progress-striped active"
                                                                    role="progressbar" aria-valuemin="0"
                                                                    aria-valuemax="100" aria-valuenow="0"
                                                                    style="opacity: 0;">
                                                                    <div class="progress-bar progress-bar-success"
                                                                        style="width: 100%;" data-dz-uploadprogress="">
                                                                    </div>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
                                                    <div class="table table-striped" class="files" id="previews">
                                                        <div class="template file-row d-flex">
                                                            <!-- This is used as the file preview template -->
                                                            <div class="flex-1">
                                                                <span class="preview"><img data-dz-thumbnail /></span>
                                                            </div>
                                                            <div class="flex-1">
                                                                <p class="name" data-dz-name></p>
                                                                <strong class="error text-danger"
                                                                    data-dz-errormessage></strong>
                                                            </div>
                                                            <div class="flex-1">
                                                                <p class="size" data-dz-size></p>
                                                                <div class="progress progress-striped active"
                                                                    role="progressbar" aria-valuemin="0"
                                                                    aria-valuemax="100" aria-valuenow="0">
                                                                    <div class="progress-bar progress-bar-success"
                                                                        style="width:0%;" data-dz-uploadprogress></div>
                                                                </div>
                                                            </div>
                                                            <div class="flex-3">
                                                                <button class="btn btn-primary start">
                                                                    <i class="glyphicon glyphicon-upload"></i>
                                                                    <span>Lưu</span>
                                                                </button>
                                                                <button data-dz-remove class="btn btn-warning cancel">
                                                                    <i class="glyphicon glyphicon-ban-circle"></i>
                                                                    <span>Hủy</span>
                                                                </button>
                                                                <button data-dz-remove class="btn btn-danger delete">
                                                                    <i class="glyphicon glyphicon-trash"></i>
                                                                    <span>Xóa</span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <form action="/admin/products/add-product" id="product_form"
                                                        method="POST" enctype="multipart/form-data">
                                                        <div class="row">
                                                            <div class="form-group">
                                                                <input type="hidden" name="image_path" id="image_path"
                                                                    class="form-control"
                                                                    placeholder="Đường dẫn sản phẩm">
                                                            </div>
                                                            <div class="col-xs-12 col-md-12">
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold required-form"
                                                                        for="product_sku">
                                                                        Mã sản phẩm
                                                                    </label>
                                                                    <input type="text" name="product_name"
                                                                        class="form-control" placeholder="Mã sản phẩm">
                                                                    <small> Sku tương tự như mã sản phẩm </small>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="product_brand">
                                                                        Thương
                                                                        Hiệu
                                                                    </label>
                                                                    <select class="form-control custom-select"
                                                                        name="product_brand" id="product_brand">
                                                                        <option selected>Chọn hãng xe...</option>
                                                                        <% brands.forEach(function(brand, index){ %>
                                                                        <option value="<%= brand.id %>">
                                                                            <%= brand.name %>
                                                                        </option>
                                                                        <%})%>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold required-form"
                                                                        id="product_name" for="product_name"> Tên Sản
                                                                        Phẩm
                                                                    </label>
                                                                    <input type="text" name="product_name"
                                                                        class="form-control" placeholder="Tên sản phẩm">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" id="product_slug"
                                                                        for="product_slug"> Đường dẫn slug
                                                                    </label>
                                                                    <input type="text" name="product_slug"
                                                                        class="form-control" placeholder="Tên sản phẩm">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold required-form"
                                                                        for="product_price"> Giá sản
                                                                        phẩm
                                                                    </label>
                                                                    <input hidden type="number" maxlength="12"
                                                                        name="product_price" id="product_price"
                                                                        class="form-control" placeholder="giá sản phẩm">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                        for="product_quantity"> Số
                                                                        lượng </label>
                                                                    <input type="text" name="product_quantity"
                                                                        id="product_quantity" class="form-control"
                                                                        placeholder="Số lượng">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold" for="product_desc">
                                                                        Mô tả
                                                                    </label>
                                                                    <textarea id="summernote"
                                                                        name="propduct_describes"></textarea>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="font-weight-bold"
                                                                        for="propduct_description">
                                                                        Mô tả ngắn </label>
                                                                    <input type="text" name="propduct_description"
                                                                        id="propduct_description" class="form-control"
                                                                        placeholder="Mô tả ngắn">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <input type="button" class="btn btn-primary waves-effect mt-4" data-type="danger"
                                                            data-from="top" data-align="right" id="add_product"> -->
                                                    </form>
                                                    <button type="button" id="dropzoneSubmit"
                                                        class="uk-button btn btn-primary mb-5">
                                                        Thêm sản phẩm
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h3> <Strong> Product --data</Strong></h3>
                                    <span> Thêm thuộc tính kỹ thuật vào cho sản phẩm </span>
                                    <div class="card-header-right">
                                        <ul class="list-unstyled card-option">
                                            <li><i class="icofont icofont-simple-left "></i></li>
                                            <li><i class="icofont icofont-maximize full-card"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card"></i></li>
                                            <li><i class="icofont icofont-error close-card"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-lg-12 col-xl-12">
                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs md-tabs tabs-left b-none" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="tab" href="#seotab"
                                                        role="tab">Seo website</a>
                                                    <div class="slide"></div>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="tab" href="#techinfotab"
                                                        role="tab">Thuộc tính kỹ thuật</a>
                                                    <div class="slide"></div>
                                                </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content tabs-left-content card-block">
                                                <div class="tab-pane active" id="seotab" role="tabpanel">
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                            for="product_meta_title">
                                                            Meta title </label>
                                                        <input type="text" name="product_meta_title"
                                                            id="product_meta_title" class="form-control"
                                                            placeholder="Thẻ meta-title">
                                                        <small class="text-muted"> Thẻ meta title dùng để tối ưu hóa SEO
                                                        </small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                            for="product_meta_keyword">
                                                            Thẻ Meta keyswords </label>
                                                        <input type="text" name="product_meta_keyword"
                                                            id="pproduct_meta_keyword" class="form-control"
                                                            placeholder="Thẻ meta keywords">
                                                        <small class="text-muted"> Thẻ meta keywords dùng để tối ưu hóa SEO
                                                        </small>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bold"
                                                            for="product_meta_description">
                                                            Thẻ Meta description </label>
                                                        <input type="text" name="product_meta_description"
                                                            id="pproduct_meta_description"
                                                            class="form-control"
                                                            placeholder="Thẻ meta keywords">
                                                        <small class="text-muted"> Thẻ meta description dùng để tối ưu hóa SEO
                                                        </small>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="techinfotab" role="tabpanel">
                                                    <p class="m-0">2.Cras consequat in enim ut efficitur. Nulla posuere
                                                        elit quis auctor interdum praesent sit amet nulla vel enim amet.
                                                        Donec convallis tellus neque, et imperdiet felis amet.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Nav tabs -->
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-4">
                        </div>
                    </div>
                </div>
            </div>
            <div id="styleSelector">
            </div>
        </div>
    </div>
</div>
<script>
    function getValueForMain(val) {
        $('#product_price').val(val)
    }
</script>
© 2020 GitHub, Inc.